.logo{
    width: 300px;
    height: 300px;
}
.boceto{
    width: 600px;
    height: 450px;
    align-self: left;
}
pre{
    font-family: verdana;
}
ol{
    font-family: verdana;
}
.foto{
    width: 150px;
    height: 150px;
    float: left;
}
.miembrosDesc p{
    margin-left: 11%;
    vertical-align: middle;
}